<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %c - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- <logger name="info.freelibrary.bagit.BagDataTest" level="DEBUG"/> -->

  <logger name="ch.qos.logback" level="ERROR"/>

  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
